name: Build

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  # Linux build (ensure portability)
  # build-linux:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Install Dependencies
  #       run: |
  #         sudo apt update
  #         sudo apt install -y build-essential cmake ninja-build \
  #           libgl1-mesa-dev libx11-dev libxcursor-dev libxinerama-dev \
  #           libxrandr-dev libxi-dev libxkbcommon-dev libwayland-dev \
  #           libassimp-dev

  #     - name: Configure and Build
  #       run: |
  #         cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
  #         cmake --build build

  # JOB 2: Windows Build + Release
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-glfw

      - name: Configure and Build
        shell: msys2 {0}
        run: |
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
          cmake --build build

      - name: Prepare Release Assets
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          # Renombrar el ejecutable
          mv openGL.exe engine.exe
          # Crear un ZIP con el ejecutable, la DLL de Assimp y tus carpetas de datos
          # Agregamos 'resources' y 'shaders' (ajusta los nombres si son distintos)
          7z a engine-windows-x64.zip engine.exe imgui.ini resources/ shaders/

      - name: Upload to GitHub Releases
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            engine-windows-x64.zip
            engine.exe
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}